<ion-tabs>
 
  <ion-tab-bar color="dark" slot="bottom">
 
    <ion-tab-button tab="episodes">
      <ion-icon name="tv-outline"></ion-icon>
      <ion-label>Episodes</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="characters">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Characters</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="camera">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>Camera</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="quotes">
      <ion-icon name="chatbox-outline"></ion-icon>
      <ion-label>Quotes</ion-label>
    </ion-tab-button>

     
    <ion-tab-button tab="deaths">
      <ion-icon name="skull-outline"></ion-icon>
      <ion-label>Deaths</ion-label>
    </ion-tab-button>
 
  </ion-tab-bar>
 
</ion-tabs>
